<div class="container mx-auto p-8">
  <form
    data-controller="invoice"
    data-action="submit->invoice#handleFormSubmit"
    data-turbo-frame="invoice-form"
    data-invoice-target="form"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-2xl mx-auto"
  >

    <!-- Business Information -->
    <div class="mb-6">
      <h2 class="text-2xl mb-4">Your Business Information</h2>
      <div class="mb-4">
        <label for="org_name" class="block text-gray-700 text-sm font-bold mb-2">Organization Name</label>
        <input type="text" id="org_name" name="org_name" placeholder="Enter organization name"
               class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
      </div>

      <div class="mb-4">
        <label for="org_address" class="block text-gray-700 text-sm font-bold mb-2">Organization Address</label>
        <input type="text" id="org_address" name="org_address" placeholder="Enter organization address"
               class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
      </div>

      <div class="mb-4">
        <label for="org_email" class="block text-gray-700 text-sm font-bold mb-2">Organization Email</label>
        <input type="email" id="org_email" name="org_email" placeholder="Enter organization email"
               class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>

    <!-- Invoice Recipient Information -->
    <div class="mb-6">
      <h2 class="text-2xl mb-4">Invoice Recipient Information</h2>
      <div class="mb-4">
        <label for="recipient_name" class="block text-gray-700 text-sm font-bold mb-2">Recipient Name</label>
        <input type="text" id="recipient_name" name="recipient_name" placeholder="Enter recipient name"
               class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
      </div>

      <div class="mb-4">
        <label for="recipient_address" class="block text-gray-700 text-sm font-bold mb-2">Recipient Address</label>
        <input type="text" id="recipient_address" name="recipient_address" placeholder="Enter recipient address"
               class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>

    <!-- Items Section -->
    <div class="border border-gray-300 rounded p-4 mb-4">
      <h2 class="text-2xl mb-4">Items</h2>

      <!-- Initial item form -->
      <div class='mb-6' data-invoice-target="container" class="border border-teal-500 rounded p-4 mb-4">
        <div data-invoice-target="item" class="border border-gray-300 rounded p-4 mb-4">
          <legend class="text-lg font-semibold mb-2">Item 1</legend>
          <div class="mb-4">
            <label for="item_name_1" class="block text-gray-700 text-sm font-bold mb-2">Item</label>
            <input type="text" id="item_name_1" name="items[][name]" placeholder="Enter item name"
                   class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="mb-4">
            <label for="item_description_1" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
            <input type="text" id="item_description_1" name="items[][description]" placeholder="Enter item name"
                   class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="mb-4">
            <label for="item_unit_price_1" class="block text-gray-700 text-sm font-bold mb-2">Unit Price</label>
            <input type="text" id="item_unit_price_1" name="items[][unit_price]" placeholder="Enter item name"
                   class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="mb-4">
            <label for="item_quantity_1" class="block text-gray-700 text-sm font-bold mb-2">Quantity</label>
            <input type="text" id="item_quantity_1" name="items[][quantity]" placeholder="Enter item name"
                   class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
          </div>

        </div>
      </div>
        <!-- Button to add more items -->
        <button type="button" data-action="click->invoice#addItem" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-full">
          Add Item
        </button>

    </div>

    <button type="submit" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-full">
      Generate Invoice
    </button>
  </form>
</div>

